@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300&family=Rubik+Mono+One&display=swap');
@font-face { 
    font-family: "Monocraft"; 
    src: url('../src/fonts/Monocraft.otf'); } 

*{
    font-family: "Monocraft";
}
.hideMenuNav {
    display: none;
  }
.showMenuNav {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #2E222F;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #C7DCD0;
}
.title{
    font-family: 'Rubik Mono One', sans-serif;
}

.karla{
    font-family: 'Karla', sans-serif;
}

.ai-off{
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+  */
}
html{
    overflow-x: hidden;
}